@import "../../assets/css/_crossBrowsing.scss";

.form{
    background-color: white;
}

.layout-template-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
    padding : 10px;
    background-color: antiquewhite;
}

.layout-template-list::after{
    content: "";
    flex: auto;
    margin: 10px;
}

.layout-template-list li{
    width: calc(33% - 10px);
    height: 100px;
    background-color: white;
}

.btn-accordion{
    @include flexBox(flex, row, start);
    margin-right: 100%;
    background-color: transparent;
    margin-bottom: .4rem;
    width: 100%;
    &:hover{
        opacity: .8;
        background-color: initial;
    }

    &:after{
        // content: "-";
        margin-left: 4px;
    }
    &.hide{
        border-bottom: var(--borderGray);
        border-bottom-style:dashed;
        border-color: rgba(255,255,255,0.4);
        &:after{
            content:"+";
        }
        + .form{
            display: none;
        }
    }

    svg {
        width: 1.4rem;
        height: 1.4rem;
        margin-right: 4px;
    }
}

.tab-button-wrap{
    @include flexBox;
    width: 100%;
    label{
        @include flex(1);
        display: inline-block;
        padding:10px;
        cursor: pointer;
        line-height: initial;
        border: 1px solid rgb(209, 209, 209);
        border-top:0;
        border-bottom: 0;
        &:last-child, &:from-child{
            border: none;
        }
        &:hover{
        }
        background-color: #dddddd;
        &:hover{
            background-color: rgb(179, 174, 174);
        }
        &.clicked{
            background-color: white;
            border-color: white;
        }
    }
    // label.
}

.tab-content{
    padding: 1rem;
    background-color: white;
    width: 100%;
    min-height: 100px;
}

input{
    border: var(--borderGray);
    padding: 4px 10px;
    border-radius: 4px;
}


.select-wrap{
    border-radius: 4px;
}