@import "../../assets/css/_crossBrowsing.scss";
.section-form-layout{
    .form{
        background-color: transparent
    }
}
.template-list{
    @include flexBox(flex,row,start);
    overflow-x: scroll;

    > li{
        position: relative;
        cursor: pointer;
        flex: none;
        width: 100px;
        height: 100px;
        margin: 0 4px;
        background-color: rgba(255,255,255,.7);
        font-size: 6px;
        cursor: pointer;
        &:hover{
            opacity: .6;
        }
        &.clicked{
            opacity: .6;
        }
        .asset-group{
            position: relative;
            width: 100%;
            height: 100%;
            > *{
                color: white;
                text-shadow: 1px 1px 1px rgba(0,0,0,.5) !important;
                position: absolute;
                white-space: nowrap;
            }
        }
    }
}