@import "../../assets/css/_crossBrowsing.scss";

.asset{
    position: absolute;
    cursor: move;
    color: white;
    width: 90%;
    height: fit-content;
    margin: auto;
    user-select: none;

    > *{
        display: block;
        width: 100%;
        padding: 0;
        border-radius: 0;
        color: inherit;
        background-color: transparent;
        border: 0;
        outline:0;
        cursor: inherit;
        white-space: pre-wrap;
        text-align: center;
        font-family: inherit;
        overflow: auto;
        &:focus{
        }
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }
    }

    img{
        pointer-events: none;
        width: auto;
        height: 6vmin
    }

    &.current > *{
        outline: 1px solid rgba(255,255,255,0.5);
    }
}