@import "../../assets/css/_crossBrowsing.scss";

.asset{
    // position: absolute;
    // cursor: default;
    // width: fit-content;
    // width: 50px;
    position: absolute;
    cursor: move;
    color: white;
    width: fit-content;
    height: fit-content;
    // border-radius: 5px;
    margin: auto;
    user-select: none;

    textarea{
        display: block;
        width: 100px;
        // height: 22px;
        padding: 0;
        // line-height: 22px;
        line-height: 1;
        border-radius: 0;
        color: inherit;
        background-color: transparent;
        border: 0;
        outline:0;
        pointer-events: none;
        white-space: nowrap;
        text-align: center;
        font-family: inherit;
        overflow: auto;
        &:focus{
        }
    }

    img{
        pointer-events: none;
        width: auto;
        height: 6vmin
    }

    &.current > *{
        outline: 1px solid rgba(255,255,255,0.5);
    }
}