@import "../../assets/css/_crossBrowsing.scss";

main{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    padding: 40px 0 ;
    background-color: #cad2d3;
    // background: linear-gradient(to bottom, rgb(114, 198, 205), rgb(185, 186, 228));
    background: linear-gradient(to bottom, rgb(149, 200, 204), rgb(141, 142, 190));

}

.center-box{
    margin-top: 10vh;
    @include flexBox(flex, column, stretch);
    width: 90%;
    margin: 0 auto;
    max-width: 1080px;
    min-width: fit-content;
    min-height: fit-content;
}

.section-canvas{
    height: 100%;
    @include flexBox(flex,column,space-between);
    margin: 0 auto 20px;
    .input-canvas-size-wrap{
        margin-top: 2rem;

        input{
            width: 100px;
            margin: 0 6px;
        }

    }
    .canvas-box{
        @include flexBox();
        width: 90%;
        height: 90%;
        min-width: 768px;
        min-height: 402.094px;
        margin: 1rem 0;

        .canvas{
            font-size: 1vmin;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            overflow: hidden;
            position: relative;
            height: 100%;
            font-family: '나눔바른고딕체';
        }
    }


    .btn-download{
        width: 90%;
        margin-bottom: 1rem;
        padding: 10px;
        font-size: 18px;
        position: fixed;
        border-radius: 50%;
        padding: 0;
        width: 100px;
        height: 100px;
        right: 4%;
        svg{
            vertical-align: text-top;
            margin-right: 10px;
        }
    }


}

.section-form{
    @include flexBox(flex, row, space-between, start, wrap);
     min-height: 200px;
     height: 100%;
    padding: 1rem 2rem 1.4rem;
    width: 900px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 40px;
    background-color: #ebecef73;
     overflow-y: auto;
     > section, .section-wrap-left > section{
         margin-bottom: .4rem;
         width: calc(50% - 1rem);
         min-width: 400px;
         display: inline-block;
     }

     .section-wrap-left{
        width: calc(50% - 1rem);
        max-width: 400px;
     }
}