@font-face {
    font-family: '강원교육모두체';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/강원교육모두+Light.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: '빙그레체';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Binggrae.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: '빙그레 따옴체';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/BinggraeTaom.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'KoPub돋움체';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/KoPubWorld-Dotum-Medium.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: '상주곶감체';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/SANGJU_Gotgam.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: '조선굴림체';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/ChosunGu.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: '고운바탕체';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/GowunBatang-Regular.woff) format('woff');
    font-display: swap;
}